.profile-image-container {
    border: 6px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50%;
    height: min-content;

    .App-logo {
        height: 40px;
        width: 40px;
        padding: 0;
        pointer-events: none;
        background: #000;
        border-radius: 50%;
        bottom: -10px;
        left: 70%;
    }

    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 10s linear;
        }
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

}