body {
  margin: 0;
  font-family: "Space Mono", Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Space Mono", Arial, serif;
}

html {
  scroll-behavior: smooth;
}
