.timeline {
  list-style-type: none;
  position: relative;
  li {
    margin: 20px 0;
    .company-icon {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      border: 2px solid #d4d9df;
    }
  }
}
